@{
    ViewData["Title"] = "Home Page";
    string appVersion = ViewData["AppVersion"] as string;
}


<div class="text-center">
    <h1 class="display-4">App Configuration</h1>
    <p>App Version: @appVersion</p>
</div>

